[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.0.14"
psycopg2 = "==2.8.4"

[dev-packages]
pytest = "==5.2.1"
pytest-cov = "==2.8.1"
codecov = "==2.0.15"
mypy = "==0.630"
black = "==18.9b0"
isort = {extras = ["pipfile"],version = "==4.3.15"}
lxml = "==4.6.2"
twine = "*"
bumpversion = "*"
pytest-django = "*"
pytest-django-queries = "*"

[requires]
python_version = "3"

[scripts]
test = "py.test -v --cov=./ --cov-report term-missing -v"
lint = "mypy ./ --ignore-missing-imports"
fmt = "black --py36 -v --line-length 120 ."
fmt-check = "black --py36 -v --line-length 120 --check ."
isort-fmt = "isort --apply --recursive --line-width 120 --use-parentheses --no-inline-sort --multi-line 3 --trailing-comma ."
isort-check = "isort --check-only --recursive --line-width 120 --use-parentheses --no-inline-sort --multi-line 3 --trailing-comma ."
