<!DOCTYPE html>
{% load static %}
<html lang="pt_BR">
<head>
    <meta charset="utf-8">
    <title>Mode Analytics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="">
    <div class="container">
        <iframe src="{{url}}" style="border: medium none; width: 100%; height: 800px;" ></iframe>
    </div>
</div>
<footer class="panel-footer">
    <div class="row text-center">
        <p> Made with <span class="glyphicon glyphicon-heart"></span>  in Minas Gerais. </p>
    </div>
</footer>
</body>
{# <script src="https://app.mode.com/embed/embed.js"></script> #}
</html>









